html {
    background-color: Azure;
}

#notes{
    height: 1000px;
    width: 1000px;
    padding: 20px;
}

body{
    padding: 0;
    margin: 0;
}

h3{
    color: #381d28;
    font-weight: bold;
}

#noteList{
    color: #381d28;
    padding: 20px;
}

td{
    line-height: 1em;
}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
    display: inline-block;
    float: left;
}