<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watchos</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/home.css" th:href="@{/home.css}" />
</head>
<body>

<div id="notes">

    <h3>
        Hello.
        This is an organizer.
    </h3>

    <p th:text="${date}">Current date</p>

  <h3>Wpisz nową notatkę:</h3>


    <form method="post" th:object="${note}" th:action="@{/home}">
        <label>
            <input type="text" name="content" th:field="*{content}">
        </label>
        <input type="submit" value="Submit"/>
    </form>


    <h3>Twoje notatki:</h3>
    <div id="noteList">
        <br>
        <tr th:each="note: ${noteList}">
            <form method="post" th:object="${note}" th:action="@{/delete}" >
            <td th:text="${note.content}"></td><br>
                <td th:text="${note.creationDate}"></td><br>
                <td th:text="${note.id}" th:field="SelectedNote" ></td> <br>
                <input type="hidden" th:value="*{id}" name="id" />
                <label>
                    <input type="submit" value="usuń" />
                </label>
            </form>
        </tr>

    </div>



</div>

<form method="post" th:action="@{/logout}">
    <input type="submit" value="Wyloguj się">
</form>

</body>
</html>