<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>NoteI</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/home.css" th:href="@{/home.css}" />
</head>
<body>

<div class="form">

    <form method="post" th:action="@{/register}" id="registerForm">

        <label for="username">Nazwa użytkownika:</label>
        <input type="text" name="username"/> <br/>

        <label for="password">Hasło:</label>
        <input type="password" name="password"/> <br/>

        <label for="confirm">Potwierdź hasło:</label>
        <input type="password" name="confirm"/><br/>

        <label for="email">Email:</label>
        <input type="email" name="email"/><br/>

        <input type="submit" value="Zarejestruj się" id="registerButton"/>
        <button type="submit" value="Zaloguj się" th:href="@{/register}" id="loginButton2">Zaloguj się</button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

    </form>




</div>


</body>
</html>
